<a href="https://colab.research.google.com/github/ertgrulyksk/Data-Cleaning-Transformation-Movies-Dataset/blob/main/Data_Cleaning_%26_Transformation_Movies_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import numpy as np
import pandas as pd
import json

In [14]:
df = pd.read_csv("movies_metadata.csv", low_memory=False)
df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [15]:
df.shape

(45466, 24)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [17]:
df.loc[0]

adult                                                                False
belongs_to_collection    {'id': 10194, 'name': 'Toy Story Collection', ...
budget                                                            30000000
genres                   [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
homepage                              http://toystory.disney.com/toy-story
id                                                                     862
imdb_id                                                          tt0114709
original_language                                                       en
original_title                                                   Toy Story
overview                 Led by Woody, Andy's toys live happily in his ...
popularity                                                       21.946943
poster_path                               /rhIRbceoE9lR4veEXuwCC2wARtG.jpg
production_companies        [{'name': 'Pixar Animation Studios', 'id': 3}]
production_countries     [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                    1995-10-30
revenue                                                        373554033.0
runtime                                                               81.0
spoken_languages                  [{'iso_639_1': 'en', 'name': 'English'}]
status                                                            Released
tagline                                                                NaN
title                                                            Toy Story
video                                                                False
vote_average                                                           7.7
vote_count                                                          5415.0
Name: 0, dtype: object

In [18]:
df["genres"][0]

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

In [19]:
df["belongs_to_collection"][0]

"{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}"

In [20]:
df.drop(columns = "adult", inplace=True)
df.drop(columns = "imdb_id", inplace=True)
df.drop(columns = "original_title", inplace=True)
df.drop(columns = "video", inplace=True)

In [21]:
import json
import ast

In [22]:
def stringified(x):
    if isinstance(x, str) == True:
        lst = ast.literal_eval(x)
        return lst
    else:
        return np.nan

In [23]:
df["genres"] = df["genres"].apply(lambda x: stringified(x))
df["belongs_to_collection"] = df["belongs_to_collection"].apply(lambda x: stringified(x))
df["production_companies"] = df["production_companies"].apply(lambda x: stringified(x))
df["production_countries"] = df["production_countries"].apply(lambda x: stringified(x))
df["spoken_languages"] = df["spoken_languages"].apply(lambda x: stringified(x))

In [24]:
df["belongs_to_collection"][0]

{'id': 10194,
 'name': 'Toy Story Collection',
 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg',
 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}

In [25]:
type(df["belongs_to_collection"][0])

dict

In [26]:
def getname(x):
    if isinstance(x, dict) == True:
        getx = x["name"]
        return getx
    else:
        return np.nan

In [27]:
df["belongs_to_collection"] = df["belongs_to_collection"].apply(lambda x: getname(x))

In [28]:
df["belongs_to_collection"].value_counts()

The Bowery Boys                  29
Totò Collection                  27
James Bond Collection            26
Zatôichi: The Blind Swordsman    26
The Carry On Collection          25
                                 ..
Glass Tiger collection            1
Kathleen Madigan Collection       1
The Big Bottom Box                1
Joséphine - Saga                  1
Red Lotus Collection              1
Name: belongs_to_collection, Length: 1695, dtype: int64

In [29]:
def combines(x):
    lst = []
    if isinstance(x, list) == True:
        for i in x:
            lst.append(i['name'])
        return '|'.join(lst)
    else:
        np.nan

In [30]:
df["genres"] = df["genres"].apply(lambda x: combines(x))
df["production_companies"] = df["production_companies"].apply(lambda x: combines(x))
df["production_countries"] = df["production_countries"].apply(lambda x: combines(x))
df["spoken_languages"] = df["spoken_languages"].apply(lambda x: combines(x))

In [31]:
df[["genres", "spoken_languages", "production_companies", "production_countries"]]

,genres,spoken_languages,production_companies,production_countries
0,Animation|Comedy|Family,English,Pixar Animation Studios,United States of America
1,Adventure|Fantasy|Family,English|Français,TriStar Pictures|Teitler Film|Interscope Commu...,United States of America
2,Romance|Comedy,English,Warner Bros.|Lancaster Gate,United States of America
3,Comedy|Drama|Romance,English,Twentieth Century Fox Film Corporation,United States of America
4,Comedy,English,Sandollar Productions|Touchstone Pictures,United States of America
...,...,...,...,...
45461,Drama|Family,فارسی,,Iran
45462,Drama,,Sine Olivia,Philippines
45463,Action|Drama|Thriller,English,American World Pictures,United States of America
45464,,,Yermoliev,Russia
45465,,English,,United Kingdom

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4491 non-null   object
 1   budget                 45466 non-null  object
 2   genres                 45466 non-null  object
 3   homepage               7782 non-null   object
 4   id                     45466 non-null  object
 5   original_language      45455 non-null  object
 6   overview               44512 non-null  object
 7   popularity             45461 non-null  object
 8   poster_path            45080 non-null  object
 9   production_companies   45460 non-null  object
 10  production_countries   45460 non-null  object
 11  release_date           45379 non-null  object
 12  revenue                45460 non-null  float64
 13  runtime                45203 non-null  float64
 14  spoken_languages       45460 non-null  object
 15  status                 45379 non-null  object
 16  tagline                20412 non-null  object
 17  title                  45460 non-null  object
 18  vote_average           45460 non-null  float64
 19  vote_count             45460 non-null  float64
dtypes: float64(4), object(16)
memory usage: 6.9+ MB

In [33]:
df["id"] = pd.to_numeric(df["id"], errors="coerce", downcast="integer")
df["budget"] = pd.to_numeric(df["budget"], errors="coerce")
df["popularity"] = pd.to_numeric(df["popularity"], errors = "coerce")

In [34]:
df["release_date"] = pd.to_datetime(df["release_date"], errors = "coerce")

In [35]:
df["release_date"].value_counts(dropna=False)

2008-01-01    136
2009-01-01    121
2007-01-01    118
2005-01-01    111
2006-01-01    101
             ...
1957-09-26      1
1938-11-21      1
1936-08-19      1
2010-01-27      1
1917-10-21      1
Name: release_date, Length: 17334, dtype: int64

In [36]:
df["genres"].value_counts(dropna = False)

Drama                              5000
Comedy                             3621
Documentary                        2723
                                   2442
Drama|Romance                      1301
                                   ...
Action|Drama|Comedy|Documentary       1
War|Drama|History|Thriller            1
Horror|Drama|History|Thriller         1
Comedy|Crime|Action|Drama             1
Family|Animation|Romance|Comedy       1
Name: genres, Length: 4069, dtype: int64

In [37]:
col = ["genres", "spoken_languages", "production_companies", "production_countries"]
df[col] = df[col].replace("", np.nan)

In [38]:
df["budget"].value_counts(dropna = False)

0.0           36573
5000000.0       286
10000000.0      259
20000000.0      243
2000000.0       242
              ...
9750000.0         1
7275000.0         1
78146652.0        1
280.0             1
1254040.0         1
Name: budget, Length: 1224, dtype: int64

In [39]:
col2 = ["budget", "revenue", "runtime"]
df[col2] = df[col2].replace(0, np.nan)

In [40]:
df["revenue"] = df["revenue"] / 1000000
df["budget"] = df["budget"] / 1000000

In [41]:
df.rename(columns = {"revenue" : "revenue_musd", "budget" : "budget_musd"}, inplace = True)

In [42]:
df["tagline"].value_counts()

Based on a true story.                                        7
Be careful what you wish for.                                 4
Trust no one.                                                 4
-                                                             4
Classic Albums                                                3
                                                             ..
A special force in a special kind of hell!                    1
Play it. Sing it. Shout it. Feel it.                          1
If It's On TV, It Must Be The Truth.                          1
"I LOVE YOU BABY, BUT MY WIFE JUST REFUSES TO UNDERSTAND!"    1
A deadly game of wits.                                        1
Name: tagline, Length: 20283, dtype: int64

In [43]:
df["tagline"] = df["tagline"].replace("-", np.nan)

In [44]:
df["vote_average"].value_counts()

0.0    2998
6.0    2468
5.0    2001
7.0    1886
6.5    1722
       ...
9.4       3
9.6       1
9.8       1
0.7       1
1.1       1
Name: vote_average, Length: 92, dtype: int64

In [45]:
df["vote_count"].value_counts()

1.0       3264
2.0       3132
0.0       2899
3.0       2787
4.0       2480
          ...
2755.0       1
1187.0       1
4200.0       1
3322.0       1
2712.0       1
Name: vote_count, Length: 1820, dtype: int64

In [46]:
df[["vote_count", "vote_average"]][(df["vote_average"] == 0) & (df["vote_count"] > 0)]

       vote_count  vote_average
554           1.0           0.0
1371          1.0           0.0
1564          1.0           0.0
12274         1.0           0.0
13226         1.0           0.0
...           ...           ...
44535         1.0           0.0
44780         1.0           0.0
44873         2.0           0.0
45006         4.0           0.0
45327         1.0           0.0

[99 rows x 2 columns]

In [47]:
df[["vote_count", "vote_average"]][(df["vote_average"] > 0) & (df["vote_count"] == 0)]

Empty DataFrame
Columns: [vote_count, vote_average]
Index: []

In [48]:
df[["vote_count", "vote_average"]][(df["vote_average"] == 0) & (df["vote_count"] == 0)]

       vote_count  vote_average
83            0.0           0.0
107           0.0           0.0
126           0.0           0.0
132           0.0           0.0
137           0.0           0.0
...           ...           ...
45432         0.0           0.0
45434         0.0           0.0
45452         0.0           0.0
45464         0.0           0.0
45465         0.0           0.0

[2899 rows x 2 columns]

In [49]:
col_vote = ["vote_count", "vote_average"]

df[col_vote][(df["vote_average"] == 0) & (df["vote_count"] > 0)].replace(to_replace="0-9" , value=np.nan,
                                                                         regex = True, inplace=True)

In [50]:
df[col_vote] = df[col_vote].replace(0, np.nan)

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4491 non-null   object
 1   budget_musd            8890 non-null   float64
 2   genres                 43024 non-null  object
 3   homepage               7782 non-null   object
 4   id                     45463 non-null  float64
 5   original_language      45455 non-null  object
 6   overview               44512 non-null  object
 7   popularity             45460 non-null  float64
 8   poster_path            45080 non-null  object
 9   production_companies   33585 non-null  object
 10  production_countries   39178 non-null  object
 11  release_date           45376 non-null  datetime64[ns]
 12  revenue_musd           7408 non-null   float64
 13  runtime                43645 non-null  float64
 14  spoken_languages       41508 non-null  object
 15  status                 45379 non-null  object
 16  tagline                20408 non-null  object
 17  title                  45460 non-null  object
 18  vote_average           42462 non-null  float64
 19  vote_count             42561 non-null  float64
dtypes: datetime64[ns](1), float64(7), object(12)
memory usage: 6.9+ MB

In [52]:
df[["vote_count", "vote_average"]][(df["vote_average"] == np.nan) & (df["vote_count"] >= 0)]

Empty DataFrame
Columns: [vote_count, vote_average]
Index: []